{% extends 'adminbase.html' %}
{% load static %}
{% block content %}
<div class="content-body">
    <div class="container-fluid" style="background-color: rgb(145, 187, 241);height: 150vh;">
        {% if request.user.userprofile_set.first.userType == "Owner" %}
        {% if request.user.userprofile_set.first.verified == True %}
        <h3>
            <button class="btn btn-primary" style="background-color: white;"><a href="/add-house/">Add
                    House</a></button>
        </h3>
        {% endif %}
        {% endif %}

        <div class="container pt-2 pb-5 mb-5">
            <div class="row mb-5">
                {% if houses %}
                {% for h in houses %}
                <div class="col-md-4 mb-4">
                    <div class="card bg-light">
                        <img src="{{ h.image1.url }}" class="card-img-top" alt="House Image" style="height: 200px; object-fit: cover;">
                        <div class="card-body text-center">
                            <p class="card-text"><strong>HOUSE NO.:</strong> {{ h.house_no }}</p>
                            <p class="card-text"><strong>OWNER CONTACT NO.:</strong> {{ h.user.contact_No }}</p>
                            <p class="card-text"><strong>ROOM SIZE:</strong> {{ h.room_size }}</p>
                            <p class="card-text"><strong>AREA:</strong> {{ h.area }}</p>
                            <p class="card-text"><strong>CITY:</strong> {{ h.city }}</p>
                            <p class="card-text"><strong>PINCODE:</strong> {{ h.pincode }}</p>
                            <p class="card-text"><strong>STATUS:</strong> {{ h.status }}</p>
                            <p class="card-text"><strong>PRICE:</strong> {{ h.price }}</p>
                        </div>
                        <div class="text-center mb-3">
                            <a href="/view-house/{{ h.id }}/"><button class="btn btn-primary submit-btn"
                                    style="border-radius: 20px;">View House</button></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p>No houses found.</p>
                {% endif %}
            </div>
            <br>
            <center>
                {% if houses.has_other_pages %}
                <ul class="pagination">
                    {% if houses.has_previous %}
                    <li><a href="?page={{ houses.previous_page_number }}" class="btn btn-primary">&laquo;</a></li>
                    {% else %}
                    <li class="disabled btn btn-primary"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in houses.paginator.page_range %}
                    {% if houses.number == i %}
                    <li class="active btn btn-primary"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                    <li><a href="?page={{ i }}" class="btn btn-primary">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if houses.has_next %}
                    <li><a href="?page={{ houses.next_page_number }}" class="btn btn-primary">&raquo;</a></li>
                    {% else %}
                    <li class="disabled btn btn-primary"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}
            </center>
        </div>
    </div>
</div>


<!--**********************************
        Main wrapper end
    ***********************************-->

<!--**********************************
        Scripts
    ***********************************-->
{% endblock %}